@model MessageBoardApp.Models.ThreadIndexList

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Title: @Html.TextBox("text") <input type = "submit" value= "Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Message
        </th>
        <th>
            Author
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Thread) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
          
            <a href="/Comment/List/@item.ThreadId">Comments</a>
            @if (item.Author.ToLower() == HttpContext.Current.User.Identity.Name.ToLower())
            {
                <span> | </span>
                @Html.ActionLink("Delete", "Delete", new { id = item.ThreadId })
            }

            else if (HttpContext.Current.User.Identity.Name == "Administrator")
            {
                <span> | </span>
                @Html.ActionLink("Delete", "Delete", new { id = item.ThreadId })
            }

        </td>
    </tr>
}

</table>
